body {
  font-family: 'Allerta', sans-serif;
  margin: 0;
}
/* header */
.header {
  height: 85px;
  box-shadow: 2px 2px 20px black;
  position: relative;
}
.logotipo {
  display: inline-block;
  margin: 0 0 0 40px;
}
.logotipo img {
  width: 200px;
  border-radius: 0 0 20px 20px;
  box-shadow: 2px 2px 10px black;
}

.menu {
  display: inline-block;
  position: absolute;
  right: 0;
}
.menu li  {
  display: inline-block;
  margin-right: 30px;
  font-size: 20px;
}
.menu li a:hover {
  background-color: #434343;
}
.menu >li {
  float:right;
}
.menu li ul{
  display:none;
  position: absolute;
  min-width: 140px;
}
.menu li:hover >ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -11px;
  border-radius: 0 0 15px 15px;
  background: white;
  box-shadow: 5px 5px 2px black;

}
.menu li ul li{
  position: relative;
}
.menu li ul li ul{
  right: -140px;
  top: 0px;
}
.menu a {
  color: black;
  text-decoration: none;
  line-height: 80px;
}
.menu .juegos ul{
  display: inline-block;
  background: blue;
}
/* endHeader */
/* portada */
.portada {
  background: url('../img/portada.jpg');
  background-size: cover;
}
.presentacion{
  text-align: center;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  height: 600px;
}
.presentacion h3{
  font-size: 30px;
  margin-top: 35px
}
.presentacion a {
  margin-top: 80px;
}
.titulo {
  font-size: 70px;
  margin: 0;
  margin-top: 80px;
}
/* endPortada */
/* descripcion */
.contenido {
  width: 90vw;
  margin: 0 auto;
}
.subtitulo {
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
}
.descripcion {
  margin-top: 100px;
  background: rgb(57,70,160);
  display: flex;
  justify-content: space-around;
  padding: -10px 0px;
  padding-top: 20px;
  color: white;
  font-size: 18px;
  border-radius: 5px;
}
.info {
  background: rgb(253,252,140);
  display: flex;
  justify-content: center;
  padding: -10px 0px;
  padding-top: 20px;
  color: #E40707;
  font-size: 19px;
  border-radius: 10px;
}
.descripcion-imagen {
  width: 450px;
  overflow: visible;
  margin-left: 10px;
  margin-right: -15px;
}
/* endDescripcion */
/* juegos */
.juego {
  margin-top: 100px;
}
.imagen-juego {
  text-align: center;
}
.imagen-juego img{
  /*text-align: center;*/
  max-width: 100%;
  min-width: 0;
  width: auto;
}
.texto:nth-child(2) {
  font-size: 18px;
}
.descripcion-juego {
  color: white;
  padding: 15px 55px;
  display: flex;
}
.tloz {
background: #0c380c;
}
.super-mario {
  background: red;
}
.pokemon {
  background: #2e7ab1;
}
.esrb img {
  width: 100px;
}
.presentacion-juego {
  font-size: 20px;
  border-bottom: 1px solid white;
}
/* endJuegos */
/* footer */
.footer {
  margin-top: 200px;
  color: white;
  height: 150px;
  display: flex;
  justify-content: space-around;
  background: #757171;
  padding-top: 50px;
}
.esrb-certificado {
  margin-top: -20px
}
.esrb-certificado img {
  width: 100px;
}
.logo img {
  width: 200px;
}
.container{
  position: relative;
  top: 20px;
  width: 90%;
  height: auto;
  margin: auto;
  background: red;
}
.container .list-image{
  display: flex;
flex-wrap: wrap;
justify-content: center;
}
.container .list-image li {
margin-right: 20px;
  margin-bottom: 80px;
  list-style: none;
}
.container .list-image li img{
 position: relative;
  width: 250px;
  height: 150px;
}

.container .list-image li .container__image {
  position: relative;
  width:180px;
  height: 330px;
  background:#fff;
  border-radius: 3px;
}
.container .list-image li .container__image  img{
  position: relative;
  width:180px;
  height: 250px;
  justify-content: center
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.container .list-image li .container__image .information__image
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
}
.container .list-image li .container__image .information__image .name__image
{
  font-family: "Open sans";
  font-size: 16px;
  margin-left: 15px;
}
.container .list-image li .container__image .information__image  .view__moreinfo
{
 margin-left: 15px;
}
.contain{
  position: relative;
  top: 20px;
  width: 90%;
  height: auto;
  margin: auto;
}.contain .list-image{
  display: flex;
flex-wrap: wrap;
justify-content: center;
}
.contain .list-image li {
margin-right: 20px;
  margin-bottom: 80px;
  list-style: none;
}

.contain .list-image li .container__image {
  position: relative;
  width:180px;
  height: 330px;
  background:#fff;
  border-radius: 3px;
}
.contain .list-image li .container__image  img{
  position: relative;
  width:180px;
  height: 250px;
  justify-content: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.contain .list-image li .container__image .information__image
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
}
.contain .list-image li .container__image .information__image .name__image
{
  font-family: "Open sans";
  font-size: 16px;
  margin-left: 15px;
}
.contenido {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.contenido .trailer {
  width: 700px;
  margin: 0 auto;
  margin-top: 70px;

}
  /* endFooter */

  .video-acerdade {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  .video-acerdade video {
    margin: 0 auto;
  }

  .contacto {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
  }
  .contacto h1 {
    font-size: 42px;
  }
  .contacto p {
    font-size: 26px;
  }
  .contacto span {
    font-size: 20px;
  }

.menu-juegos ul {
  background: white;
}
